* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #BBB;
}

.container-dos-blocos {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.bloco {
    padding: 1px;
    width: 280px;
    height: 200px;
    margin: 20px;
    background-color: #fff;
}

.bloco:hover {
    border: 2px solid red;
}